@page "/editgenero/{id}"
@inject IGeneroService GeneroService
@inject NavigationManager Navigation

<a href="/genero" class="btn btn-secondary m-1">Voltar</a>

@if (Genero == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<EditForm Model="@Genero">
		<h3>Editar Gênero</h3>
		<hr />
		<div class="form-group row">
			<label for="Nome-Genero" class="col-sm-2 col-form-label">
				Nome do Gênero
			</label>
			<div class="col-sm-10">
				<InputText id="Nome-Genero" class="form-control" placeholder="Nome-Genero"
						   @bind-Value="Genero.Nome" />
			</div>
		</div>
		<div>
			<button type="submit" @onclick="Save" class="btn btn-outline-success m-1">Gravar</button>
		</div>
	</EditForm>


}

@code {

	public Genero? Genero { get; set; } = null;

	[Parameter]
	public required string Id { get; set; }

	protected async override Task OnInitializedAsync()
	{
		Genero = await GeneroService.GetGeneroById(Guid.Parse(Id));
	}

	private void Save()
	{
		if (Genero != null)
		{
			GeneroService.UpdateGenero(Genero);
			Navigation.NavigateTo("genero");
		}
	}
}
