@page "/melancolico"
@inject ILivroService LivroService
@inject IAutorService AutorService

<PageTitle>Melancólico</PageTitle>

<h1>Melancólico</h1>

@if (livros == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<p>Listagem de Livros de Melancólico</p>
	<br />
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var livro in livros)
			{
				<tr>
					<td>@livro.Name</td>
				</tr>
			}
		</tbody>
	</table>
	<br />
	<br />
	<br />
	<p>Listagem de Autores de Melancólico</p>
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var autor in autores)
			{
				<tr>
					<td>@autor.Nome</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<Livro> livros = new();
	private List<Autor> autores = new();
	private readonly Guid GeneroId = Guid.Parse("d5393edb-e47b-4924-958d-77fcdb4b663b");

	protected override async Task OnInitializedAsync()
	{
		livros = (await LivroService.GetLivrosByGeneroId(GeneroId)).ToList();
		autores = (await AutorService.GetAutoresByGeneroId(GeneroId)).ToList();
	}
}
